.container{
    margin: 10vh;
    padding: 0;
    display: flex;
    overflow-wrap: break-word;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 90vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}
.left{
    padding: 5vh;
    width: 50%;
}
.left img{
    height: 50vh;
    width: 40vh;
}
.right{
    width: 50%;
    font-size: 6vh;
    font-weight: 600;
    margin-right: 0;
}
.height{
    margin: 10px;
    margin-right: 0;
}
.price{
    margin: 10px;
    margin-right: 0;
}
.buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-right: 0;
}
button{
    font-size: 2vh;
    height: 5vh;
    width: 15vh;
    margin-right: 0;
}
